@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
/*font-family: 'Gajraj One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*font-family: 'Anton', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/* font-family: 'Rajdhani', sans-serif; */
.bodys{
    margin: 0px;
    background: black;
}
.title{
    width:100%;
    height: 59px;
    background: black;
    position: fixed;
    z-index: 99;
    margin: 0px;
}
.title_block1{
    font-family: 'Gajraj One', cursive;
    font-size: 40px;
    padding-left: 55.35px;
    padding-right: 55.35px;
    padding-bottom: 0px;
    color: maroon;
    position: absolute;
    z-index: 100;
   border-right: 5px solid maroon;
    list-style-type: none;
    position: absolute;
    left: 0px;
}
.title_block2{
    font-family: 'Gajraj One', cursive;
    font-size: 27px;
    padding-top: 9.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9.5px;
    color: maroon;
    position: absolute;
    z-index: 100;
    border-right: 5px solid maroon;
    position: absolute;
    left: 320px;
    list-style-type: none;
}
.title_block3{
    font-family: 'Gajraj One', cursive;
    font-size: 27px;
    padding-top: 9.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9.5px;
    color: maroon;
    position: absolute;
    z-index: 100;
    border-right: 5px solid maroon;
    position: absolute;
    left: 487px;
    list-style-type: none;
}
.title_block4{
    font-family: 'Gajraj One', cursive;
    font-size: 27px;
    padding-top: 9.5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9.5px;
    color: maroon;
    position: absolute;
    z-index: 100;
    border-right: 5px solid maroon;
    position: absolute;
    left: 570px;
    list-style-type: none;
}
.line1{
    height: 360px; 
    width: 100%;
    background-color: maroon;
    position: relative;
    top: 59px;
}
.line1_cell{
    height: 460px; 
    width: 100%;
    background-color: maroon;
    position: relative;
    top: 59px;
}
.line2{
    height: 1000px; 
    width: 100%;
    background-color: black;
    position: relative;
    top: 59px;
}
.lineCoD{
    height: 1700px; 
    width: 100%;
    background-color: black;
    position: relative;
    top: 59px;
}
.lineCell{
    height: 2400px; 
    width: 100%;
    background-color: black;
    position: relative;
    top: 59px;
}
.line_img{
    position: absolute;
    top: 20px;
}
.bline_img{
    position: absolute;
    top: 50px;
    right: 69px;
    border: 10px solid maroon;
}
.bline_img2{
    position: absolute;
    top: 240px;
    right: 69px;
    border: 10px solid maroon;
}
.font_inf_white{
    /* font-family: 'Rajdhani', sans-serif;
    font-weight: 700; */
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    color: lightgray;
    position: absolute;
    left: 340px;
    top: 20px;
}
.font_inf_red{
    width: 74%;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-indent: 24px;
    color: maroon;
    position: absolute;
    top: 20px;
    left: 20px;

}
.font_inf_red_main{
    width: 74%;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-indent: 24px;
    color: maroon;
    position: absolute;
    top: 80px;
    left: 20px;
}
.font_inf_red2{
    width: 97%;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-indent: 24px;
    color: maroon;
    position: absolute;
    top: 42%;
    left: 20px;

}
.font_inf_red2_CoD{
    width: 97%;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-indent: 24px;
    color: maroon;
    position: absolute;
    top: 430px;
    left: 20px;

}
.font_inf_red2_Cell{
    width: 97%;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-indent: 24px;
    color: maroon;
    position: absolute;
    top: 640px;
    left: 20px;

}
.span_font_inf_white{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    color: white;
}
a{
    color: maroon;
    text-decoration: none;
}
.paragraph{
    margin: 0px;
    text-indent: 24px;
}
.plife{
    font-family: 'Gajraj One', cursive;
    font-size: 40px;
    color: maroon;
    position: absolute;
    top: 10px;
    left: 20px;
}

nav ul ul{
    display: none;
    position: absolute;
    top:100%;
}
nav ul li:hover > ul {
    display: inherit;
    background: black;
    padding-right: 20%;
    list-style-type: none ;
    border:  2px solid maroon;
    position: absolute;
    left: 0%;
}
nav ul ul li:not(:last-of-type){
    min-width: 170px;
    float: none;
    display: list-item;
    position: relative;
    list-style-type:circle;
    border-bottom:  2px solid maroon;
}
.hr{
    width: 1100px;
    height: 5px;
    border: 0px;
    background-color: maroon;
    margin: 0px;
    position: absolute;
    bottom: 230px;
    left: 105px;
    
}
.Madeinchina{
    font-family: 'Gajraj One', cursive;
    font-size: 40px;
    color: maroon;
    position: absolute;
    bottom: 95px;
    left: 429.25px;
}
.Albums{
    margin-block-start: 10px;
    margin-left: 15px;
}
.Albums2{
    margin-block-start: 10px;
    margin-left: 40px;
}
.COd_logo{
    position: absolute;
    bottom: 50px;
    right: 80px;
}
.span_stalb{
    margin: 0%;
    text-indent: 30px;
}